
<h3>Iniciar Sesión</h3>
<form>

    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input formControlName="usuario" id="usuario" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input formControlName="contrasena" id="contrasena" type="text" class="form-control" required />        
    </div>

    <div class="row">
        <div class="col text-center">
            <button disabled class="btn btn-primary" >
                Iniciar Sesión
            </button>
        </div>
    </div>
</form>
<br>

<h3>{{mensaje}}</h3>        

<nav>
    Volver a la pagina principal <a routerLink="/inicio">Inicio</a>
</nav>
<nav>
    Aún no tienes cuenta!! clic aquí <a routerLink="/crearcuenta">Crear Cuenta</a>
</nav>
