<h3>Crear Producto</h3>
<form >
    <div class="form-group">
        <label for="nit">Id</label>
        <input formControlName="id" id="id" type="number" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input formControlName="nombre" id="nombre" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Descripción</label>
        <input formControlName="descripcion" id="descripcion" type="email" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Precio Envío</label>
        <input formControlName="precio" id="precio" type="number" class="form-control" required />
        
    </div>

    <div class="row">
        <div class="col text-center">
            <button disabled class="btn btn-primary" >
                Crear Producto
            </button>
        </div>
    </div>

</form>
<br>

<nav>
    Volver a la pagina principal <a routerLink="/inicio">Inicio</a>
</nav>
