<h3>Crear Cuenta de Usuario</h3>
<form  [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="identificacion">Identificación</label>
        <input formControlName="identificacion" id="identificacion" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Nombres</label>
        <input formControlName="nombres" id="nombres" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Apellidos</label>
        <input formControlName="apellidos" id="apellidos" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Correo Electrónico</label>
        <input formControlName="correo" id="correo" type="email" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Celular</label>
        <input formControlName="celular" id="celular" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Usuario</label>
        <input formControlName="usuario" id="usuario" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Contraseña</label>
        <input formControlName="contrasena" id="contrasena" type="text" class="form-control" required />        
    </div>

    <div class="row">
        <div class="col text-center">
            <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit">
                Crear Usuario
            </button>
        </div>
    </div>

</form>
<h3>{{mensaje}}</h3>
<br>
<nav>
    Volver a la pagina principal <a routerLink="/inicio">Inicio</a>
</nav>
<nav>
    Si ya tienes cuenta!! clic aquí <a routerLink="/iniciosesion">Inciiar Sesión</a>
</nav>