<h3>Crear Empresa</h3>
<form  [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="nit">Nit</label>
        <input formControlName="nit" id="nit" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input formControlName="nombre" id="nombre" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Correo Electrónico</label>
        <input formControlName="correo" id="correo" type="email" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Dirección</label>
        <input formControlName="direccion" id="direccion" type="text" class="form-control" required />
        
    </div>

    <div class="form-group">
        <label for="name">Teléfono</label>
        <input formControlName="telefono" id="telefono" type="text" class="form-control" required />
        
    </div>

    <div class="row">
        <div class="col text-center">
            <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit">
                Crear Empresa
            </button>
        </div>
    </div>

</form>
<h3>{{mensaje}}</h3>
<br>
<nav>
    Volver a la pagina principal <a routerLink="/inicio">Inicio</a>
</nav>
